configparser==3.5.0
mysql-connector==2.1.4
numpy==1.11.1
pandas==0.18.1
-e git+https://github.com/EVEprosper/ProsperCommon.git@c4e6a438b9af747e9a3ebf6ece891f01ca39130f#egg=ProsperCommon
-e git+https://github.com/EVEprosper/ProsperWarehouse.git@8cc9f925b5a314916428d5b1301d7dc58013dc18#egg=ProsperWarehouse
python-dateutil==2.5.3
pytz==2016.6.1
six==1.10.0
